fitelle/48212aeb-0ff0-4d9e-b849-08641c26822c.png
fitelle/ChatGPT Image Feb 25, 2026, 06_37_01 PM.png
fitelle/ChatGPT Image Feb 26, 2026, 06_14_28 PM.png
fitelle/gradient1.png
fitelle/gradient2 (1).png
fitelle/gradient2.png
fitelle/Landing-page.png
fitelle/pxbee_2.jpeg
fitelle/pxbee_2026-02-25_18-38-29.jpeg
fitelle/running-man.jpg
fitelle/running-man.psd
fitelle/running-man_exp1.jpg
fitelle/running-man_gradient.png
fitelle/salah-pictures-OB1BfxwwBHA-unsplash.jpg
fitelle/steven-erixon-FxlYmu_To7o-unsplash.jpg
fitelle/tyler-raye-Xb1d-N04Quc-unsplash.jpg
fitelle/woman-final.psd
fitelle/woman-new.jpeg
fitelle/woman-standing.png
fitelle/woman-standing2.png
fitelle/woman.png
img/Chevron up.svg
